@import url(common.css);
@import url(default.css);
@import url(fonts.css);

section h2,
section h3 {
    font-weight: 700;
    line-height: 1.3;
}

section .tit h2 {
    font-size: 40px;
    color: #2b2b2b;
}
section .tit p {
    margin: 10px 0 0 0;
}
@media screen and (max-width:768px) {
    section .tit h2 {
        font-size: 22px;
    }
}

header {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100px;
    color: #F8F7F5;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo a {
    display: block;
    width: 190px;
    height: 31px;
    background: url(../images/logo_w.svg) no-repeat center center / contain;
}
header .gnb .gnb_open,
header .gnb .gnb_close {
    display: none; /* 모바일에서만 */
}
header .gnb .gna_wrap ul {
    display: flex;
}
header .gnb .gna_wrap ul li a {
    display: block;
    font-size: 20px;
    padding: 0 35px;
    line-height: 100px;
}
header .util {
    display: flex;
    gap: 0 7px;
}
header .util .mypage,
header .util .search .search_open {
    width: 43px;
    height: 43px;
    background-position: center center;
    background-repeat: no-repeat;
}
header .util .mypage {
    background-image: url("data:image/svg+xml,%3Csvg width='26' height='25' viewBox='0 0 26 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13 11.9736C11.3317 11.9736 9.90354 11.3875 8.71563 10.2152C7.52743 9.04263 6.93333 7.63316 6.93333 5.98679C6.93333 4.34043 7.52743 2.93111 8.71563 1.75883C9.90354 0.586278 11.3317 0 13 0C14.6683 0 16.0965 0.586278 17.2844 1.75883C18.4726 2.93111 19.0667 4.34043 19.0667 5.98679C19.0667 7.63316 18.4726 9.04263 17.2844 10.2152C16.0965 11.3875 14.6683 11.9736 13 11.9736ZM0 25V21.1971C0 20.3595 0.230534 19.5838 0.6916 18.8699C1.15267 18.1561 1.76887 17.6073 2.5402 17.2236C4.25331 16.3948 5.98159 15.7732 7.72503 15.3587C9.46848 14.9442 11.2268 14.7369 13 14.7369C14.7732 14.7369 16.5315 14.9442 18.275 15.3587C20.0184 15.7732 21.7467 16.3948 23.4598 17.2236C24.2311 17.6073 24.8473 18.1561 25.3084 18.8699C25.7695 19.5838 26 20.3595 26 21.1971V25H0ZM2.6 22.4342H23.4V21.1971C23.4 20.8507 23.2983 20.53 23.0949 20.2349C22.8916 19.9402 22.6155 19.6995 22.2668 19.5131C20.7733 18.7873 19.2505 18.2373 17.6986 17.8633C16.1464 17.4896 14.5802 17.3027 13 17.3027C11.4198 17.3027 9.85357 17.4896 8.30137 17.8633C6.74946 18.2373 5.22672 18.7873 3.73317 19.5131C3.38448 19.6995 3.10844 19.9402 2.90507 20.2349C2.70169 20.53 2.6 20.8507 2.6 21.1971V22.4342ZM13 9.40782C13.9533 9.40782 14.7694 9.07284 15.4483 8.40289C16.1272 7.73294 16.4667 6.92758 16.4667 5.98679C16.4667 5.04601 16.1272 4.24065 15.4483 3.5707C14.7694 2.90074 13.9533 2.56577 13 2.56577C12.0467 2.56577 11.2306 2.90074 10.5517 3.5707C9.87278 4.24065 9.53333 5.04601 9.53333 5.98679C9.53333 6.92758 9.87278 7.73294 10.5517 8.40289C11.2306 9.07284 12.0467 9.40782 13 9.40782Z' fill='white'/%3E%3C/svg%3E%0A");
}
header .util .search .search_open {
    background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M24.4064 26L14.9078 16.5012C14.1516 17.1255 13.282 17.6141 12.299 17.967C11.316 18.3199 10.2991 18.4963 9.24828 18.4963C6.66346 18.4963 4.47587 17.6014 2.68552 15.8116C0.895174 14.0218 0 11.8347 0 9.25042C0 6.66639 0.894922 4.47858 2.68477 2.687C4.47461 0.895665 6.66169 0 9.24602 0C11.8301 0 14.0179 0.89516 15.8095 2.68548C17.6009 4.4758 18.4966 6.66336 18.4966 9.24815C18.4966 10.3282 18.3153 11.3597 17.9529 12.3427C17.5902 13.3257 17.1064 14.1807 16.5014 14.9076L26 24.406L24.4064 26ZM9.24828 16.2282C11.1969 16.2282 12.8474 15.552 14.1997 14.1994C15.5522 12.8472 16.2284 11.1968 16.2284 9.24815C16.2284 7.29954 15.5522 5.6491 14.1997 4.29685C12.8474 2.94434 11.1969 2.26809 9.24828 2.26809C7.29964 2.26809 5.64919 2.94434 4.29691 4.29685C2.94438 5.6491 2.26812 7.29954 2.26812 9.24815C2.26812 11.1968 2.94438 12.8472 4.29691 14.1994C5.64919 15.552 7.29964 16.2282 9.24828 16.2282Z' fill='white'/%3E%3C/svg%3E%0A");
}
/* header에 fixed 클래스 추가 시 */
header.fixed {
    position: fixed;
    height: 80px;
    color: #2b2b2b;
    background-color: #F8F7F5;
    border-bottom: 1px solid #ededed;
}
header.fixed .logo a {
    background-image: url(../images/logo_b.svg)
}
header.fixed .gnb .gna_wrap ul li a {
    line-height: 80px;
}
header.fixed .util .mypage {
    background-image: url("data:image/svg+xml,%3Csvg width='26' height='25' viewBox='0 0 26 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13 11.9736C11.3317 11.9736 9.90354 11.3875 8.71563 10.2152C7.52743 9.04263 6.93333 7.63316 6.93333 5.98679C6.93333 4.34043 7.52743 2.93111 8.71563 1.75883C9.90354 0.586278 11.3317 0 13 0C14.6683 0 16.0965 0.586278 17.2844 1.75883C18.4726 2.93111 19.0667 4.34043 19.0667 5.98679C19.0667 7.63316 18.4726 9.04263 17.2844 10.2152C16.0965 11.3875 14.6683 11.9736 13 11.9736ZM0 25V21.1971C0 20.3595 0.230534 19.5838 0.6916 18.8699C1.15267 18.1561 1.76887 17.6073 2.5402 17.2236C4.25331 16.3948 5.98159 15.7732 7.72503 15.3587C9.46848 14.9442 11.2268 14.7369 13 14.7369C14.7732 14.7369 16.5315 14.9442 18.275 15.3587C20.0184 15.7732 21.7467 16.3948 23.4598 17.2236C24.2311 17.6073 24.8473 18.1561 25.3084 18.8699C25.7695 19.5838 26 20.3595 26 21.1971V25H0ZM2.6 22.4342H23.4V21.1971C23.4 20.8507 23.2983 20.53 23.0949 20.2349C22.8916 19.9402 22.6155 19.6995 22.2668 19.5131C20.7733 18.7873 19.2505 18.2373 17.6986 17.8633C16.1464 17.4896 14.5802 17.3027 13 17.3027C11.4198 17.3027 9.85357 17.4896 8.30137 17.8633C6.74946 18.2373 5.22672 18.7873 3.73317 19.5131C3.38448 19.6995 3.10844 19.9402 2.90507 20.2349C2.70169 20.53 2.6 20.8507 2.6 21.1971V22.4342ZM13 9.40782C13.9533 9.40782 14.7694 9.07284 15.4483 8.40289C16.1272 7.73294 16.4667 6.92758 16.4667 5.98679C16.4667 5.04601 16.1272 4.24065 15.4483 3.5707C14.7694 2.90074 13.9533 2.56577 13 2.56577C12.0467 2.56577 11.2306 2.90074 10.5517 3.5707C9.87278 4.24065 9.53333 5.04601 9.53333 5.98679C9.53333 6.92758 9.87278 7.73294 10.5517 8.40289C11.2306 9.07284 12.0467 9.40782 13 9.40782Z' fill='%234A4A4A'/%3E%3C/svg%3E%0A");
}
header.fixed .util .search .search_open {
    background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M24.4064 26L14.9078 16.5012C14.1516 17.1255 13.282 17.6141 12.299 17.967C11.316 18.3199 10.2991 18.4963 9.24828 18.4963C6.66346 18.4963 4.47587 17.6014 2.68552 15.8116C0.895174 14.0218 0 11.8347 0 9.25042C0 6.66639 0.894922 4.47858 2.68477 2.687C4.47461 0.895665 6.66169 0 9.24602 0C11.8301 0 14.0179 0.89516 15.8095 2.68548C17.6009 4.4758 18.4966 6.66336 18.4966 9.24815C18.4966 10.3282 18.3153 11.3597 17.9529 12.3427C17.5902 13.3257 17.1064 14.1807 16.5014 14.9076L26 24.406L24.4064 26ZM9.24828 16.2282C11.1969 16.2282 12.8474 15.552 14.1997 14.1994C15.5522 12.8472 16.2284 11.1968 16.2284 9.24815C16.2284 7.29954 15.5522 5.6491 14.1997 4.29685C12.8474 2.94434 11.1969 2.26809 9.24828 2.26809C7.29964 2.26809 5.64919 2.94434 4.29691 4.29685C2.94438 5.6491 2.26812 7.29954 2.26812 9.24815C2.26812 11.1968 2.94438 12.8472 4.29691 14.1994C5.64919 15.552 7.29964 16.2282 9.24828 16.2282Z' fill='%234A4A4A'/%3E%3C/svg%3E%0A");
}
@media screen and (max-width:768px) {
    header {
        height: 56px;
        padding: 0 0 0 16px;
    }
    header .logo a {
        width: 114px;
        height: 18px;
    }
    header .gnb .gnb_open {
        display: block;
        width: 56px;
        height: 56px;
        background-image: url("data:image/svg+xml,%3Csvg width='19' height='15' viewBox='0 0 19 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 2.14286V0H19V2.14286H0ZM0 15V12.8571H19V15H0ZM0 8.57143V6.42857H19V8.57143H0Z' fill='white'/%3E%3C/svg%3E%0A");
        background-position: center center;
        background-repeat: no-repeat;
    }
    header .gnb .gna_wrap {
        display: none;
    }
    header .util {
        display: none;
    }
    /* header에 fixed 클래스 추가 시 */
    header.fixed {
        height: 56px;
    }
    header.fixed .gnb .gnb_open {
        background-image: url("data:image/svg+xml,%3Csvg width='19' height='15' viewBox='0 0 19 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 2.14286V0H19V2.14286H0ZM0 15V12.8571H19V15H0ZM0 8.57143V6.42857H19V8.57143H0Z' fill='%234A4A4A'/%3E%3C/svg%3E%0A");
    }
}


.visual {
    position: relative; /* ctrl_btn 정렬 기준 */
}
.visual .swiper-slide {
    height: 100dvh; /* 브라우저 높이에 맞춰서 */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #F8F7F5;
    text-align: right;
    display: flex;
    align-items: flex-end;
}
.visual .swiper-slide.popup1 {
    background-image: url(../images/visual_popup1.jpg);
}
.visual .swiper-slide.popup2 {
    background-image: url(../images/visual_popup2.jpg);
}
.visual .swiper-slide.popup3 {
    background-image: url(../images/visual_popup3.jpg);
}
.visual .swiper-slide h3 {
    font-size: 60px;
    line-height: 1.3;
    margin: 0 0 24px 0;
    transition: 1.5s;
    transition-delay: 0.8s;
    transform: translateY(30px);
    opacity: 0;
}
.visual .swiper-slide h3 .mb_only {
    display: none;
}
.visual .swiper-slide p {
    margin: 0 0 15dvh 0;
    transition: 1.5s;
    transition-delay: 1.2s;
    transform: translateY(30px);
    opacity: 0;
}
.visual .swiper-slide.swiper-slide-active h3 {
    transform: translateY(0);
    opacity: 1;
}
.visual .swiper-slide.swiper-slide-active p {
    transform: translateY(0);
    opacity: 1;
}
.visual .ctrl_btn {
    position: absolute; /* visual을 기준으로 정렬 */
    bottom: 6dvh;
    /* left: 50%;
    transform: translateX(-50%); */
    left: calc(50% + 630px);
    transform: translateX(-100%);
    z-index: 10;
    color: #fff;
    display: flex;
    align-items: center;
    gap: 0 18px;
}
.visual .ctrl_btn .paging {
    bottom: auto;   
    left: auto;
    width: auto;
    display: flex;
    gap: 0 15px;
}
.visual .ctrl_btn .paging .swiper-pagination-bullet {
    width: 9px;
    height: 9px;
    display: inline-block;
    border: 1px solid #fff;
    border-radius: 50%;
    background: transparent;
    opacity: 1;
    margin: 0;
}
.visual .ctrl_btn .paging .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: #fff;
}
.visual .ctrl_btn .btn_stop {
    width: 7px;
    height: 9px;
    background-image: url("data:image/svg+xml,%3Csvg width='7' height='9' viewBox='0 0 7 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 9H0V0H1V9ZM7 9H6V0H7V9Z' fill='white'/%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
}
.visual .ctrl_btn .btn_play {
    width: 7px;
    height: 9px;
    background-image: url("data:image/svg+xml,%3Csvg width='7' height='9' viewBox='0 0 7 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 9V0L7 4.5L0 9Z' fill='white'/%3E%3C/svg%3E ");
    background-position: center center;
    background-repeat: no-repeat;
    display: none;
}
.visual .ctrl_btn .btn_prev,
.visual .ctrl_btn .btn_next {
    width: 13px;
    height: 23px;
    background-image: url("data:image/svg+xml,%3Csvg width='14' height='24' viewBox='0 0 14 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.0967 12.1699L1.54004 23.7256L0.125977 22.3115L10.2676 12.1699L0.125977 2.02734L1.54004 0.613281L13.0967 12.1699Z' fill='white'/%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
}
.visual .ctrl_btn .btn_prev {
    transform: rotate(180deg);
}

@media screen and (max-width:768px) {
    .visual .swiper-slide {
        height: 600px; /* 브라우저 높이에 맞춰서 */
        justify-content: center;
        text-align: center;
    }
    .visual .swiper-slide h3 {
        font-size: 24px;
        margin: 0 0 60px 0;
        transition: none;
        transition-delay: 0;
        transform: translateY(0);
        opacity: 1;
    }
    .visual .swiper-slide h3 .mb_only {
        display: block;
    }
    .visual .swiper-slide p {
        display: none;
    }
    .visual .ctrl_btn {
        bottom: 24px;
        left: 50%;
        transform: translateX(-50%);
        gap: 0 13px;
    }
    .visual .ctrl_btn .paging {
        gap: 0 9px;
    }
    .visual .ctrl_btn .paging .swiper-pagination-bullet {
        width: 7px;
        height: 7px;
    }
    .visual .ctrl_btn .btn_stop {
        width: 6px;
        height: 7px;
    }
    .visual .ctrl_btn .btn_play {
        width: 6px;
        height: 7px;
    }
    .visual .ctrl_btn .btn_prev,
    .visual .ctrl_btn .btn_next {
        display: none;
    }
}

.book {
    margin: 225px 0 0 0;
}
.book .book_wrap {
    width: calc(50% + 630px);
    margin: 0 0 0 calc((100% - 1260px) / 2);
    display: flex; /* tit-list */
    justify-content: space-between;
}
.book .book_wrap .tit {

}
.book .book_wrap .list {
    height: 200px;
    border: 1px solid rebeccapurple;
    width: calc(100% - 442px);
}

footer {
    margin: 1000px 0 0 0;
}