@font-face {
	font-family: 'Pretendard';
	font-weight: 400;
	font-display: swap;
	src: local('Pretendard Regular'), 
    url(../fonts/Pretendard-Regular.woff2) format('woff2'), 
    url(../fonts/Pretendard-Regular.woff) format('woff');
}
@font-face {
	font-family: 'Pretendard';
	font-weight: 700;
	font-display: swap;
	src: local('Pretendard-Bold'), 
    url(../fonts/Pretendard-Bold.woff2) format('woff2'), 
    url(../fonts/Pretendard-Bold.woff) format('woff');
}
@font-face {
	font-family: 'Pretendard';
	font-weight: 800;
	font-display: swap;
	src: local('Pretendard-ExtraBold'), 
    url(../fonts/Pretendard-ExtraBold.woff2) format('woff2'), 
    url(../fonts/Pretendard-ExtraBold.woff) format('woff');
}
body {
    font-family: 'Pretendard';
    font-size: 17px;
    font-weight: 400;
    color: #555555;
    line-height: 1.5;
    word-break: keep-all; /* 문단 별로 띄어쓰기 */
    word-wrap: break-word; /* 단어가 너무 길때 강제로 줄 바꿈 */
}
/* html태그의 기본스타일을 리셋 시킴
   body에서 선언한 기본 스타일로 적용 */
h1, h2, h3, h4, h5, h6 {
    font-size: inherit; /* inherit - 브라우저가 주는 스타일 무시 */
    font-weight: inherit;
}
strong {
    font-weight: inherit;
}
em {
    font-style: normal; /* 기울어진 글자 똑바로 */
}
a {
    color: inherit;
    text-decoration: none; /* 밑줄 삭제 */
}
ol, li, ul {
    list-style: none; /* 앞에 도형, 숫자 삭제 */
}
button {
    border: none;
    background: none;
    font-family: inherit;
    font-size: inherit; /* inherit - 브라우저가 주는 스타일 무시 */
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    cursor: pointer;
}
* { /* 모든태그 */
    margin: 0; /* 여백 삭제 */
    padding: 0;
    box-sizing: border-box;
}
#wrap {
    /* 최소넓이 없음 */
    position: relative; /* header 정렬 기준 */
}
.wrapper {
    width: 1260px;
    margin: 0 auto;
}
.blind { /* html 문서 구조 상 써야하지만 디자인에서는 구현이 안되는 글자를 숨길 때 사용 */
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}

.photo {
    overflow: hidden;
}
.photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/*
    계속(태블릿, 모바일) 좌우여백을 16px을 적용
    1260 + 16 + 16 = 1292

    좌우의 여백을 가변 %로 적용
    1260 * 0.06(3% + 3%) = 75.6 + 1260 = 1336
*/
@media screen and (max-width:1336px){
                    .wrapper {
                        width: auto;
                        margin: 0 3%;
                    }
}/* media */
@media screen and (max-width:768px){
    /* 브라우저 사이즈 768px 부터 그 이하의 사이즈에서만 적용 */
                    body {
                        font-size: 16px;
                    }
                    .wrapper {
                        width: auto;
                        margin: 0 16px;
                    }
}/* media */