@import url(common.css);
@import url(default.css);
@import url(fonts.css);

.visual {
    position: relative; /* btn 정렬 기준 */
}
.visual .swiper-slide {
    height: 100dvh; /* 브라우저 높이와 동일 */
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    display: flex;
    align-items: flex-end;
}
.visual .swiper-slide.bg1 {
    background-image: url(../images/visual_bg01.jpg);
}
.visual .swiper-slide.bg2 {
    background-image: url(../images/visual_bg02.jpg);
}
.visual .swiper-slide.bg3 {
    background-image: url(../images/visual_bg03.jpg);
}
.visual .swiper-slide h3 {
    font-size: 60px;
    margin: 0 0 12px 0;
}
.visual .swiper-slide p {
    margin: 0 0 150px 0;
}
.visual .btn_wrap {
    position: absolute; /* visual을 기준으로 정렬 */
    left: calc(50% - 630px); /* 1260(wrapper)의 절반 */
    bottom: 93px;
    z-index: 1;
    display: flex;
    gap: 0 10px;
}
.visual .btn_wrap button {
    /* border: 2px solid #fff;
    border-radius: 50%; */
    width: 35px;
    height: 35px;
    background-position: center center;
    background-repeat: no-repeat;
}
.visual .btn_wrap button.btn_prev {
    background-image: url(../images/visual_arrow.svg);
}
.visual .btn_wrap button.btn_play {
    background-image: url(../images/visual_play.svg);
    display: none;
}
.visual .btn_wrap button.btn_stop {
    background-image: url(../images/visual_stop.svg);
}
.visual .btn_wrap button.btn_next {
    background-image: url(../images/visual_arrow.svg);
    transform: rotate(180deg);
}

@media screen and (max-width:768px) {
                    /* .visual .swiper-slide {
                        align-items: flex-start;
                    } */
                    .visual .swiper-slide h3 {
                        font-size: 44px;
                        margin: 0 0 91px 0;
                        /* margin: 581px 0 0 0; */
                    }
                    .visual .swiper-slide p {
                        display: none;
                    }
                    .visual .btn_wrap {
                        left: auto;
                        right: 16px;
                        bottom: 21px;
                        /* bottom: 40px; */
                    }
                    .visual .btn_wrap button {
                        width: 27px;
                        height: 27px;
                        background-size: cover;
                    }
}/* @media */


.biz {
    margin: 239px 0 0 0;
}
.biz .wrapper {
    display: flex; /* tit - list 좌우정렬 */
    justify-content: space-between;
    align-items: flex-start;
}
.biz .tit {
    position: sticky;
    top: 16px;
}
.biz .tit h3 {
    color: #111;
}
.biz .tit span {
    color: #3356AA;
}
.biz .list {
    width: 792px;
    padding: 0 0 320px 0;
}
.biz .list ul {
    display: flex;
    flex-wrap: wrap; /* 여러줄 허용 */
    gap: 72px 72px;
}
.biz .list ul li {
    width: calc(50% - 36px);
    /*
        100 / 한줄에 나오는 li의 갯수(2) = 50%
        한줄의 여백의 합(72) / 한줄에 나오는 li의 갯수(2) = 36px
    */   
}
/* 홀수, 짝수 선택자 odd - 홀수, even - 짝수 */
.biz .list ul li:nth-child(even) {
    transform: translateY(320px);
}
.biz .list ul li a {
    display: block;
    position: relative; /* txt 정렬 기준 */
}
.biz .list ul li a::after {
    content: "";
    position: absolute;
    right: 24px;
    top: 24px;
    width: 40px;
    height: 40px;
    background: url(../images/biz_more.svg) center center / cover;
}
.biz .list ul li a:hover::after {
    background-image: url(../images/biz_more_over.svg);
}
.biz .list ul li a .photo {
    overflow: hidden;
    height: 500px;
    border-radius: 20px 50px 20px 20px;
    position: relative; /* before 정렬의 기준 */
}
.biz .list ul li a .photo::before {
    content: "";
    position: absolute; /* photo를 기준으로 정렬 */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #272D4F;
    opacity: 0;
    transition: 0.5s;
}
.biz .list ul li a:hover .photo::before {
    opacity: 0.85;
}
.biz .list ul li a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.biz .list ul li a .txt {
    position: absolute;
    left: 43px;
    width: calc(100% - 86px);
    bottom: -66px;
    color: #fff;
    transition: 0.5s;
}
.biz .list ul li a:hover .txt {
    bottom: 43px;
} 
.biz .list ul li a .txt h4 {
    font-size: 32px;
}
.biz .list ul li a .txt p {
    margin: 16px 0 13px 0;
    opacity: 0;
    transition: 0.5s;
}
.biz .list ul li a:hover .txt p {
    opacity: 1;
}

@media screen and (max-width:768px) {
                    .biz {
                        margin: 120px 0 0 0;
                    }
                    .biz .wrapper {
                        display: block; /* flex -> block*/
                    }
                    .biz .tit {
                        position: relative; /* sticky -> relative */
                        top: auto;
                    }
                    .biz .list {
                        width: auto; /* 넓이가 원래 들어가야 할 값이 들어가게 수정 */
                        padding: 0;
                        margin: 32px 0 0 0;
                    }
                    .biz .list ul {
                        flex-wrap: nowrap;
                        flex-direction: column;
                        gap: 16px 0;
                    }
                    .biz .list ul li {
                        width: auto; /* ?? */
                        /*
                            100 / 한줄에 나오는 li의 갯수(2) = 50%
                            한줄의 여백의 합(72) / 한줄에 나오는 li의 갯수(2) = 36px
                        */   
                    }
                    /* 홀수, 짝수 선택자 odd - 홀수, even - 짝수 */
                    .biz .list ul li:nth-child(even) {
                        transform: translateY(0);
                    }
                    .biz .list ul li a::after {
                        right: 10px;
                        top: 10px;
                        width: 30px;
                        height: 30px;
                    }
                    .biz .list ul li a .photo {
                        height: 140px;
                        border-radius: 10px 25px 10px 10px;
                    }
                    .biz .list ul li a .photo::before {
                        background-color: #000000;
                        opacity: 0.65;
                    }
                    .biz .list ul li a .txt {
                        position: absolute;
                        left: 0;
                        width: 100%;
                        bottom: 50px;
                        color: #fff;
                    }
                    .biz .list ul li a .txt h4 {
                        font-size: 24px;
                        text-align: center;
                    }
                    .biz .list ul li a .txt h4 br {
                        display: none;
                    }
                    .biz .list ul li a .txt p {
                        display: none;
                    }
}/* @media */

footer {
    margin: 1500px 0 0 0
}