@import url(common.css);
@import url(default.css);
@import url(fonts.css);

h2 {
    font-family: 'GMarketSans';
    font-size: 40px;
    font-weight: 700;
    line-height: 1.3;
    letter-spacing: -0.04em;
    color: #111;
    margin: 0 0 42px 0;
}
.txt {
    width: 300px;
}
h3 {
    margin: 50px 0 10px 0;
    font-weight: "GMarketSans";
    font-size: 24px;
    font-weight: 700;
}