@import url(common.css);
@import url(default.css);
@import url(fonts.css);
@import url(layout.css);

h2, h3, h4 {
    font-weight: 700;
    line-height: 1.2;
}

/* visual 전체: 화면에서 40px씩 떨어뜨린 크기 */
.visual {
    width: calc(100vw - (var(--wrapper-margin) * 2));
    height: calc(100vh - 80px - var(--header-h));
    margin: var(--wrapper-margin);
    position: relative;
    overflow: hidden;
    color: var(--color-white);
}
/* swiper가 visual 영역을 100% 채우게 */
.visual .swiper {
    width: 100%;
    height: 100%;
}
  /* 슬라이드 하나가 visual 영역 전체를 채우게 */
.visual .swiper-slide {
    width: 100%;
    height: 100%;
    position: relative;
}
/* 이미지가 영역을 완전히 채우도록 */
.visual .swiper-slide .photo {
    width: 100%;
    height: 100%;
}
.visual .swiper-slide .photo::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 50%, rgba(0,0,0,0.5) 100%);
    pointer-events: none; /* 이미지 클릭이나 인터랙션 방해하지 않음 */
    z-index: 2; /* 이미지보다 위, 텍스트보다 아래에 위치시키려면 z-index 조정 */
}
.visual .swiper-slide .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;   /* 사진 비율 깨짐 방지, 영역 꽉 채움 */
}
/* 텍스트 영역이 이미지 위 레이어로 올라오도록 */
.visual .swiper-slide .txt {
    position: absolute;
    right: 0;
    bottom: 15%;
    width: 100%;
    z-index: 3;
    text-align: right;
}
.visual .swiper-slide .txt .wrapper {
    max-width: 1392px;  /* 기존 wrapper 최대 폭 */
    margin: 0 auto;     /* 항상 중앙 정렬 */
    padding: 0 var(--wrapper-margin); /* 반응형 여백 */
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* 텍스트 오른쪽 정렬 */
}
.visual .swiper-slide .txt span {
    font-size: clamp(32px, 7vw, 90px);
    line-height: 1.2;
}
.visual .swiper-slide .txt p {
    font-size: clamp(16px, 2vw, 24px);
}
/* 모든 bullet 기본 점 */
.visual .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background-color: var(--color-white50);
    border-radius: 50%;
    opacity: 1;
    transition: all 0.3s ease;
}
/* 현재 슬라이드 bullet (길쭉한 원형) */
.visual .swiper-pagination-bullet-active {
    width: 30px;
    border-radius: 20px;
    background-color: var(--color-point02);
}

@media screen and (max-width:1024px){
    /* 모든 bullet 기본 점 */
    .visual .swiper-pagination-bullet {
        width: 8px;
        height: 8px;
    }
    /* 현재 슬라이드 bullet (길쭉한 원형) */
    .visual .swiper-pagination-bullet-active {
        width: 25px;
    }
}