/*
    - 파일명 : layout.css
    - 작성자 : 김지선
    - 작성일 : 25-10-23
    - 설명 : header/footer 스타일을 선언함
*/

header {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: var(--header-h);
    color: var(--color-white);

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--wrapper-margin);
    transition: transform 0.3s;
}
header .logo a {
    display: block;
    width: 110px;
    height: 37px;
    background: url(../images/common/logo_w.svg) no-repeat center center / contain;
    margin: 0 0 14px 0;
}

header .util .lang {
    display: block;
    padding-left: 1.4118em; /* 아이콘이 배경으로 들어갈 여백 */
    position: relative; /* before 정렬 기준 */
}
header .util .lang::before {
    content: "";
    position: absolute;
    left: 0.1765em;
    top: 0.34em;
    width: 1.0247em;
    height: 1.0247em;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 18 18' fill='%23ffffff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.70833 17.4167C7.51437 17.4167 6.38764 17.1878 5.32812 16.7301C4.26861 16.2724 3.34461 15.6492 2.55612 14.8605C1.76749 14.0721 1.14431 13.1481 0.686583 12.0885C0.228861 11.029 0 9.90229 0 8.70833C0 7.5049 0.228861 6.3758 0.686583 5.32102C1.14431 4.26624 1.76749 3.34461 2.55612 2.55612C3.34461 1.76749 4.26861 1.14431 5.32812 0.686584C6.38764 0.228862 7.51437 0 8.70833 0C9.91176 0 11.0409 0.228862 12.0956 0.686584C13.1504 1.14431 14.0721 1.76749 14.8605 2.55612C15.6492 3.34461 16.2724 4.26624 16.7301 5.32102C17.1878 6.3758 17.4167 7.5049 17.4167 8.70833C17.4167 9.90229 17.1878 11.029 16.7301 12.0885C16.2724 13.1481 15.6492 14.0721 14.8605 14.8605C14.0721 15.6492 13.1504 16.2724 12.0956 16.7301C11.0409 17.1878 9.91176 17.4167 8.70833 17.4167ZM8.70833 16.0222C9.17614 15.4018 9.56985 14.776 9.88946 14.1449C10.2091 13.5137 10.4694 12.8239 10.6705 12.0753H6.74621C6.95903 12.8474 7.22234 13.549 7.53615 14.1801C7.8498 14.8113 8.24053 15.4253 8.70833 16.0222ZM6.93321 15.7701C6.58182 15.2659 6.26626 14.6928 5.98652 14.0507C5.70678 13.4084 5.48938 12.7499 5.33431 12.0753H2.22475C2.7089 13.0272 3.35821 13.827 4.17267 14.4746C4.98712 15.1221 5.90731 15.5539 6.93321 15.7701ZM10.4835 15.7701C11.5094 15.5539 12.4295 15.1221 13.244 14.4746C14.0585 13.827 14.7078 13.0272 15.1919 12.0753H12.0824C11.8978 12.7557 11.6657 13.4171 11.3859 14.0594C11.1063 14.7017 10.8055 15.2719 10.4835 15.7701ZM1.64817 10.7002H5.05587C4.99828 10.3596 4.95649 10.0255 4.93052 9.6981C4.9047 9.37085 4.89179 9.04093 4.89179 8.70833C4.89179 8.37574 4.9047 8.04581 4.93052 7.71856C4.95649 7.39116 4.99828 7.05711 5.05587 6.71642H1.64817C1.56001 7.02778 1.49249 7.35151 1.44558 7.68762C1.39853 8.02374 1.375 8.36397 1.375 8.70833C1.375 9.05269 1.39853 9.39293 1.44558 9.72904C1.49249 10.0652 1.56001 10.3889 1.64817 10.7002ZM6.43065 10.7002H10.986C11.0435 10.3596 11.0852 10.0285 11.1111 9.70704C11.137 9.3856 11.1499 9.05269 11.1499 8.70833C11.1499 8.36397 11.137 8.03107 11.1111 7.70962C11.0852 7.38818 11.0435 7.05711 10.986 6.71642H6.43065C6.3732 7.05711 6.33149 7.38818 6.30552 7.70962C6.2797 8.03107 6.26679 8.36397 6.26679 8.70833C6.26679 9.05269 6.2797 9.3856 6.30552 9.70704C6.33149 10.0285 6.3732 10.3596 6.43065 10.7002ZM12.3608 10.7002H15.7685C15.8567 10.3889 15.9242 10.0652 15.9711 9.72904C16.0181 9.39293 16.0417 9.05269 16.0417 8.70833C16.0417 8.36397 16.0181 8.02374 15.9711 7.68762C15.9242 7.35151 15.8567 7.02778 15.7685 6.71642H12.3608C12.4184 7.05711 12.4602 7.39116 12.4861 7.71856C12.512 8.04581 12.5249 8.37574 12.5249 8.70833C12.5249 9.04093 12.512 9.37085 12.4861 9.6981C12.4602 10.0255 12.4184 10.3596 12.3608 10.7002ZM12.0824 5.34142H15.1919C14.702 4.37769 14.0571 3.5779 13.2573 2.94204C12.4575 2.30633 11.5329 1.87153 10.4835 1.63763C10.8348 2.17113 11.1474 2.75466 11.4212 3.38823C11.6951 4.02165 11.9155 4.67271 12.0824 5.34142ZM6.74621 5.34142H10.6705C10.4576 4.57508 10.19 3.86902 9.86746 3.22323C9.54479 2.57744 9.15842 1.96785 8.70833 1.39448C8.25825 1.96785 7.87187 2.57744 7.54921 3.22323C7.22669 3.86902 6.95903 4.57508 6.74621 5.34142ZM2.22475 5.34142H5.33431C5.50115 4.67271 5.72153 4.02165 5.99546 3.38823C6.26924 2.75466 6.58182 2.17113 6.93321 1.63763C5.87782 1.87153 4.95176 2.30786 4.15502 2.94663C3.35813 3.58524 2.71471 4.3835 2.22475 5.34142Z' /%3E%3C/svg%3E%0A");
}


/* header 고정 */
header.fixed {
    color: var(--color-tit);
    background-color: var(--color-white);
    box-shadow: 0 0 4px 0 var(--color-black10);
}
header.fixed .logo a {
    background-image: url(../images/common/logo.svg);
}
header.fixed .gnb .gnb_open {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 17 12' fill='%23444444' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.75 11.269C0.5375 11.269 0.359417 11.1971 0.21575 11.0533C0.0719168 10.9096 0 10.7314 0 10.5188C0 10.3063 0.0719168 10.1282 0.21575 9.9845C0.359417 9.841 0.5375 9.76925 0.75 9.76925H16.25C16.4625 9.76925 16.6406 9.84108 16.7843 9.98475C16.9281 10.1286 17 10.3068 17 10.5195C17 10.732 16.9281 10.9101 16.7843 11.0538C16.6406 11.1973 16.4625 11.269 16.25 11.269H0.75ZM0.75 6.3845C0.5375 6.3845 0.359417 6.31258 0.21575 6.16875C0.0719168 6.02492 0 5.84675 0 5.63425C0 5.42158 0.0719168 5.2435 0.21575 5.1C0.359417 4.95633 0.5375 4.8845 0.75 4.8845H16.25C16.4625 4.8845 16.6406 4.95642 16.7843 5.10025C16.9281 5.24408 17 5.42225 17 5.63475C17 5.84742 16.9281 6.0255 16.7843 6.169C16.6406 6.31267 16.4625 6.3845 16.25 6.3845H0.75ZM0.75 1.49975C0.5375 1.49975 0.359417 1.42792 0.21575 1.28425C0.0719168 1.14042 0 0.962166 0 0.749499C0 0.536999 0.0719168 0.358916 0.21575 0.21525C0.359417 0.0717496 0.5375 0 0.75 0H16.25C16.4625 0 16.6406 0.0719168 16.7843 0.21575C16.9281 0.359417 17 0.537584 17 0.75025C17 0.96275 16.9281 1.14083 16.7843 1.2845C16.6406 1.428 16.4625 1.49975 16.25 1.49975H0.75Z' /%3E%3C/svg%3E%0A");
}   
header.fixed .util .lang::before {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 18 18' fill='%23222222' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.70833 17.4167C7.51437 17.4167 6.38764 17.1878 5.32812 16.7301C4.26861 16.2724 3.34461 15.6492 2.55612 14.8605C1.76749 14.0721 1.14431 13.1481 0.686583 12.0885C0.228861 11.029 0 9.90229 0 8.70833C0 7.5049 0.228861 6.3758 0.686583 5.32102C1.14431 4.26624 1.76749 3.34461 2.55612 2.55612C3.34461 1.76749 4.26861 1.14431 5.32812 0.686584C6.38764 0.228862 7.51437 0 8.70833 0C9.91176 0 11.0409 0.228862 12.0956 0.686584C13.1504 1.14431 14.0721 1.76749 14.8605 2.55612C15.6492 3.34461 16.2724 4.26624 16.7301 5.32102C17.1878 6.3758 17.4167 7.5049 17.4167 8.70833C17.4167 9.90229 17.1878 11.029 16.7301 12.0885C16.2724 13.1481 15.6492 14.0721 14.8605 14.8605C14.0721 15.6492 13.1504 16.2724 12.0956 16.7301C11.0409 17.1878 9.91176 17.4167 8.70833 17.4167ZM8.70833 16.0222C9.17614 15.4018 9.56985 14.776 9.88946 14.1449C10.2091 13.5137 10.4694 12.8239 10.6705 12.0753H6.74621C6.95903 12.8474 7.22234 13.549 7.53615 14.1801C7.8498 14.8113 8.24053 15.4253 8.70833 16.0222ZM6.93321 15.7701C6.58182 15.2659 6.26626 14.6928 5.98652 14.0507C5.70678 13.4084 5.48938 12.7499 5.33431 12.0753H2.22475C2.7089 13.0272 3.35821 13.827 4.17267 14.4746C4.98712 15.1221 5.90731 15.5539 6.93321 15.7701ZM10.4835 15.7701C11.5094 15.5539 12.4295 15.1221 13.244 14.4746C14.0585 13.827 14.7078 13.0272 15.1919 12.0753H12.0824C11.8978 12.7557 11.6657 13.4171 11.3859 14.0594C11.1063 14.7017 10.8055 15.2719 10.4835 15.7701ZM1.64817 10.7002H5.05587C4.99828 10.3596 4.95649 10.0255 4.93052 9.6981C4.9047 9.37085 4.89179 9.04093 4.89179 8.70833C4.89179 8.37574 4.9047 8.04581 4.93052 7.71856C4.95649 7.39116 4.99828 7.05711 5.05587 6.71642H1.64817C1.56001 7.02778 1.49249 7.35151 1.44558 7.68762C1.39853 8.02374 1.375 8.36397 1.375 8.70833C1.375 9.05269 1.39853 9.39293 1.44558 9.72904C1.49249 10.0652 1.56001 10.3889 1.64817 10.7002ZM6.43065 10.7002H10.986C11.0435 10.3596 11.0852 10.0285 11.1111 9.70704C11.137 9.3856 11.1499 9.05269 11.1499 8.70833C11.1499 8.36397 11.137 8.03107 11.1111 7.70962C11.0852 7.38818 11.0435 7.05711 10.986 6.71642H6.43065C6.3732 7.05711 6.33149 7.38818 6.30552 7.70962C6.2797 8.03107 6.26679 8.36397 6.26679 8.70833C6.26679 9.05269 6.2797 9.3856 6.30552 9.70704C6.33149 10.0285 6.3732 10.3596 6.43065 10.7002ZM12.3608 10.7002H15.7685C15.8567 10.3889 15.9242 10.0652 15.9711 9.72904C16.0181 9.39293 16.0417 9.05269 16.0417 8.70833C16.0417 8.36397 16.0181 8.02374 15.9711 7.68762C15.9242 7.35151 15.8567 7.02778 15.7685 6.71642H12.3608C12.4184 7.05711 12.4602 7.39116 12.4861 7.71856C12.512 8.04581 12.5249 8.37574 12.5249 8.70833C12.5249 9.04093 12.512 9.37085 12.4861 9.6981C12.4602 10.0255 12.4184 10.3596 12.3608 10.7002ZM12.0824 5.34142H15.1919C14.702 4.37769 14.0571 3.5779 13.2573 2.94204C12.4575 2.30633 11.5329 1.87153 10.4835 1.63763C10.8348 2.17113 11.1474 2.75466 11.4212 3.38823C11.6951 4.02165 11.9155 4.67271 12.0824 5.34142ZM6.74621 5.34142H10.6705C10.4576 4.57508 10.19 3.86902 9.86746 3.22323C9.54479 2.57744 9.15842 1.96785 8.70833 1.39448C8.25825 1.96785 7.87187 2.57744 7.54921 3.22323C7.22669 3.86902 6.95903 4.57508 6.74621 5.34142ZM2.22475 5.34142H5.33431C5.50115 4.67271 5.72153 4.02165 5.99546 3.38823C6.26924 2.75466 6.58182 2.17113 6.93321 1.63763C5.87782 1.87153 4.95176 2.30786 4.15502 2.94663C3.35813 3.58524 2.71471 4.3835 2.22475 5.34142Z' /%3E%3C/svg%3E%0A");
}

/* 스크롤을 아래로 내릴때 header 올림 */
/* 메뉴에 오버하고 스크롤을 하면 header가 올라가지 않음*/
header.up:not(.menu_pc, .menu_mo) {
    transform: translateY(-110%);
}


/* 1025이상일때 - pc 버전 */
@media screen and (min-width:1025px){ 
    header .gnb .gnb_open,
    header .gnb .gnb_wrap .gnb_logo,
    header .gnb .gnb_wrap .gnb_close {
        display: none; /* 모바일일때만 보임 */
    }
    header .gnb .gnb_wrap ul.depth1 {
        display: flex; /* li 좌우정렬 */
    }
    header .gnb .gnb_wrap ul.depth1 > li {
        position: relative; /* ul.depth2 정렬 기준 */
    }
    header .gnb .gnb_wrap ul.depth1 > li > a {
        display: block;
        font-size: 2rem;
        font-weight: 700;
        line-height: var(--header-h);
        padding: 0 2.225em;
    }
    header .gnb .gnb_wrap ul.depth1 > li:hover > a,
    header .gnb .gnb_wrap ul.depth1 > li > a:focus {
        color: var(--color-point);
    }
    header .gnb .gnb_wrap ul.depth1 > li:hover > a > span::before,
    header .gnb .gnb_wrap ul.depth1 > li > a:focus > span::before {
        content: "";
        position: absolute;
        left: 0;
        top: calc(var(--header-h) - 5px);
        width: 100%;
        height: 5px;
        background-color: var(--color-point);
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 {
        position: absolute;
        left: 50%; /* 정렬의 기준인 li의 절반 */
        top: var(--header-h);
        transform: translateX(-50%); /* depth2 넓이의 절반 */
        text-align: center;
        min-width: 100%; /* 최소 넓이 - li의 넓이를 꽉채우게 */
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a {
        display: block;
        padding: 5px 0;
        color: var(--color-basic);
        white-space: nowrap;
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a:hover,
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a:focus {
        color: var(--color-tit);
        font-weight: 700;
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a > span {
        position: relative;
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a:hover > span::before,
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a:focus > span::before {
        content: "";
        position: absolute;
        left: -4px;
        top: 0;
        width: 3px;
        height: 3px;
        border-radius: 50%;
        background-color: var(--color-tit);
    }


    /* header에 menu_pc가 추가되었을때 */
    header.menu_pc {
        color: var(--color-tit);
    }
    header::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
        width: 100%;
        height: 0;
        background-color: var(--color-white);
        transition: 0.5s;
    }
    header.menu_pc::before {
        height: 354px;
    }
    header.menu_pc::after {
        content: "";
        position: absolute;
        left: 0;
        top: var(--header-h);
        width: 100%;
        height: 1px;
        background-color: var(--color-line);
    }
    header.menu_pc .logo a {
        background-image: url(../images/common/logo.svg);
    }
    header.menu_pc .util .lang::before {
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 18 18' fill='%23222222' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.70833 17.4167C7.51437 17.4167 6.38764 17.1878 5.32812 16.7301C4.26861 16.2724 3.34461 15.6492 2.55612 14.8605C1.76749 14.0721 1.14431 13.1481 0.686583 12.0885C0.228861 11.029 0 9.90229 0 8.70833C0 7.5049 0.228861 6.3758 0.686583 5.32102C1.14431 4.26624 1.76749 3.34461 2.55612 2.55612C3.34461 1.76749 4.26861 1.14431 5.32812 0.686584C6.38764 0.228862 7.51437 0 8.70833 0C9.91176 0 11.0409 0.228862 12.0956 0.686584C13.1504 1.14431 14.0721 1.76749 14.8605 2.55612C15.6492 3.34461 16.2724 4.26624 16.7301 5.32102C17.1878 6.3758 17.4167 7.5049 17.4167 8.70833C17.4167 9.90229 17.1878 11.029 16.7301 12.0885C16.2724 13.1481 15.6492 14.0721 14.8605 14.8605C14.0721 15.6492 13.1504 16.2724 12.0956 16.7301C11.0409 17.1878 9.91176 17.4167 8.70833 17.4167ZM8.70833 16.0222C9.17614 15.4018 9.56985 14.776 9.88946 14.1449C10.2091 13.5137 10.4694 12.8239 10.6705 12.0753H6.74621C6.95903 12.8474 7.22234 13.549 7.53615 14.1801C7.8498 14.8113 8.24053 15.4253 8.70833 16.0222ZM6.93321 15.7701C6.58182 15.2659 6.26626 14.6928 5.98652 14.0507C5.70678 13.4084 5.48938 12.7499 5.33431 12.0753H2.22475C2.7089 13.0272 3.35821 13.827 4.17267 14.4746C4.98712 15.1221 5.90731 15.5539 6.93321 15.7701ZM10.4835 15.7701C11.5094 15.5539 12.4295 15.1221 13.244 14.4746C14.0585 13.827 14.7078 13.0272 15.1919 12.0753H12.0824C11.8978 12.7557 11.6657 13.4171 11.3859 14.0594C11.1063 14.7017 10.8055 15.2719 10.4835 15.7701ZM1.64817 10.7002H5.05587C4.99828 10.3596 4.95649 10.0255 4.93052 9.6981C4.9047 9.37085 4.89179 9.04093 4.89179 8.70833C4.89179 8.37574 4.9047 8.04581 4.93052 7.71856C4.95649 7.39116 4.99828 7.05711 5.05587 6.71642H1.64817C1.56001 7.02778 1.49249 7.35151 1.44558 7.68762C1.39853 8.02374 1.375 8.36397 1.375 8.70833C1.375 9.05269 1.39853 9.39293 1.44558 9.72904C1.49249 10.0652 1.56001 10.3889 1.64817 10.7002ZM6.43065 10.7002H10.986C11.0435 10.3596 11.0852 10.0285 11.1111 9.70704C11.137 9.3856 11.1499 9.05269 11.1499 8.70833C11.1499 8.36397 11.137 8.03107 11.1111 7.70962C11.0852 7.38818 11.0435 7.05711 10.986 6.71642H6.43065C6.3732 7.05711 6.33149 7.38818 6.30552 7.70962C6.2797 8.03107 6.26679 8.36397 6.26679 8.70833C6.26679 9.05269 6.2797 9.3856 6.30552 9.70704C6.33149 10.0285 6.3732 10.3596 6.43065 10.7002ZM12.3608 10.7002H15.7685C15.8567 10.3889 15.9242 10.0652 15.9711 9.72904C16.0181 9.39293 16.0417 9.05269 16.0417 8.70833C16.0417 8.36397 16.0181 8.02374 15.9711 7.68762C15.9242 7.35151 15.8567 7.02778 15.7685 6.71642H12.3608C12.4184 7.05711 12.4602 7.39116 12.4861 7.71856C12.512 8.04581 12.5249 8.37574 12.5249 8.70833C12.5249 9.04093 12.512 9.37085 12.4861 9.6981C12.4602 10.0255 12.4184 10.3596 12.3608 10.7002ZM12.0824 5.34142H15.1919C14.702 4.37769 14.0571 3.5779 13.2573 2.94204C12.4575 2.30633 11.5329 1.87153 10.4835 1.63763C10.8348 2.17113 11.1474 2.75466 11.4212 3.38823C11.6951 4.02165 11.9155 4.67271 12.0824 5.34142ZM6.74621 5.34142H10.6705C10.4576 4.57508 10.19 3.86902 9.86746 3.22323C9.54479 2.57744 9.15842 1.96785 8.70833 1.39448C8.25825 1.96785 7.87187 2.57744 7.54921 3.22323C7.22669 3.86902 6.95903 4.57508 6.74621 5.34142ZM2.22475 5.34142H5.33431C5.50115 4.67271 5.72153 4.02165 5.99546 3.38823C6.26924 2.75466 6.58182 2.17113 6.93321 1.63763C5.87782 1.87153 4.95176 2.30786 4.15502 2.94663C3.35813 3.58524 2.71471 4.3835 2.22475 5.34142Z' /%3E%3C/svg%3E%0A");
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 {
        display: block !important;
        opacity: 0;
        height: 0;
        overflow: hidden;
        padding-top: 0;
        transition: height 0.5s;
    }
    header.menu_pc .gnb .gnb_wrap ul.depth1 > li > ul.depth2 {
        opacity: 1;
        height: 264px;
        padding-top: 24px;
    }
    header .gnb .gnb_bg {
        position: absolute;
        left: 0;
        top: var(--header-h);
        z-index: -2;
        width: 100%;
        height: 0;
        background-color: var(--color-black80);
        backdrop-filter: blur(10px);
        opacity: 0;
        transition: height 0s, opacity 0.5s;
    }
    header.menu_pc .gnb .gnb_bg {
        height: 100vh;
        opacity: 1;
    }  
}/* @media */

/* 1200 - 1025 사이 */
@media screen and (max-width:1200px) and (min-width:1025px) {
    header .gnb .gnb_wrap ul.depth1 > li > a {
        font-size: 1.8rem;
        padding: 0 1.8em;
    }
    header.menu_pc .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a {
        font-size: 1.6rem;
    }
}/* @media */

/* 1024 이하 */
@media screen and (max-width:1024px) {
    header {
        padding-right: 0; /* 오른쪽 여백 삭제 */
    }
    
    header .logo a {
        width: 84.5px;
        height: 29px;
    }
    header .util{
        display: none; /* 숨김 */
    }
    header .gnb .gnb_open {
        display: block;
        width: var(--header-h);
        height: var(--header-h);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 20px;
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 17 12' fill='%23ffffff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.75 11.269C0.5375 11.269 0.359417 11.1971 0.21575 11.0533C0.0719168 10.9096 0 10.7314 0 10.5188C0 10.3063 0.0719168 10.1282 0.21575 9.9845C0.359417 9.841 0.5375 9.76925 0.75 9.76925H16.25C16.4625 9.76925 16.6406 9.84108 16.7843 9.98475C16.9281 10.1286 17 10.3068 17 10.5195C17 10.732 16.9281 10.9101 16.7843 11.0538C16.6406 11.1973 16.4625 11.269 16.25 11.269H0.75ZM0.75 6.3845C0.5375 6.3845 0.359417 6.31258 0.21575 6.16875C0.0719168 6.02492 0 5.84675 0 5.63425C0 5.42158 0.0719168 5.2435 0.21575 5.1C0.359417 4.95633 0.5375 4.8845 0.75 4.8845H16.25C16.4625 4.8845 16.6406 4.95642 16.7843 5.10025C16.9281 5.24408 17 5.42225 17 5.63475C17 5.84742 16.9281 6.0255 16.7843 6.169C16.6406 6.31267 16.4625 6.3845 16.25 6.3845H0.75ZM0.75 1.49975C0.5375 1.49975 0.359417 1.42792 0.21575 1.28425C0.0719168 1.14042 0 0.962166 0 0.749499C0 0.536999 0.0719168 0.358916 0.21575 0.21525C0.359417 0.0717496 0.5375 0 0.75 0H16.25C16.4625 0 16.6406 0.0719168 16.7843 0.21575C16.9281 0.359417 17 0.537584 17 0.75025C17 0.96275 16.9281 1.14083 16.7843 1.2845C16.6406 1.428 16.4625 1.49975 16.25 1.49975H0.75Z' /%3E%3C/svg%3E%0A");
    }
    header .gnb .gnb_wrap {
        position: absolute; /* header 기준 정렬 */
        right: -81%;
        top: 0;
        z-index: 10;
        height: 100dvh;
        background-color: var(--color-tit);
        color: var(--color-white);
        width: 80%;
        transition: 0.5s;
    }
    header.menu_mo .gnb .gnb_wrap{
        right: 0;
    }
    header .gnb .gnb_wrap .gnb_logo {
        position: absolute; /* gnb_wrap 기준 정렬 */
        left: var(--wrapper-margin);
        top: 0;
        width: 84.5px;
        height: calc(var(--header-h) - 8px );
        background: url(../images/common/logo_w.svg) no-repeat center center / contain;
    }
    header .gnb .gnb_wrap ul.depth1 {
        margin-top: var(--header-h);
        height: calc(100dvh - var(--header-h));
        overflow-y: auto;
        border-top: 1px solid var(--color-white10);
    }
    header .gnb .gnb_wrap ul.depth1 > li > a {
        display: block;
        padding: 16px 0 16px var(--wrapper-margin);
        font-size: 2.0rem;
        font-weight: 700;
        line-height: 1.3;
        color: var(--color-white);
        position: relative; /* before/after 정렬 기준 */
    }
    header .gnb .gnb_wrap ul.depth1 > li > a::before,
    header .gnb .gnb_wrap ul.depth1 > li > a::after {
        content: "";
        position: absolute;
        right: var(--wrapper-margin);
        top: 50%;
        width: 13px;
        height: 2px;
        background-color: var(--color-white);
    }
    header .gnb .gnb_wrap ul.depth1 > li > a::before {
        transform: rotate(-270deg);
    }
    header .gnb .gnb_wrap ul.depth1 > li.open > a::before {
        transform: rotate(0deg); /* 세로선 없애기 */
        transition: transform 0.5s;
    }
    /* open 클래스 */
    header .gnb .gnb_wrap ul.depth1 > li.open > a { 
        background-color: var(--color-point);
        color: var(--color-white);
    }
    header .gnb .gnb_wrap ul.depth1 > li.open > a::after,
    header .gnb .gnb_wrap ul.depth1 > li.open > a::before {
        background-color: var(--color-white);
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 {
        padding: 12px 0 12px 0;
        display: none;
        background-color: var(--color-tit);
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a {
        display: block;
        padding: 6px 0 6px calc(var(--wrapper-margin) * 2);
    }
    header .gnb .gnb_wrap .gnb_close {
        position: absolute;
        right: 0;
        top: 0;
        width: var(--header-h);
        height: var(--header-h);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 20px;
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 14 14' fill='%23ffffff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.05375 13.3075L0 12.2538L5.6 6.65375L0 1.05375L1.05375 0L6.65375 5.6L12.2537 0L13.3075 1.05375L7.7075 6.65375L13.3075 12.2538L12.2537 13.3075L6.65375 7.7075L1.05375 13.3075Z' /%3E%3C/svg%3E%0A");
    }
    
    header .gnb .gnb_bg {
        position: absolute; /* header 기준 정렬 */
        right: -101%;
        top: 0;
        width: 100%;
        height: 100dvh;
        background-color: var(--color-black80);
        backdrop-filter: blur(10px);
        opacity: 0;
        transition: right 0s, opacity 0.5s;
    }
    header.menu_mo .gnb .gnb_bg {
        opacity: 1;
        right: 0;
    }

}/* @media */

/* 768 이하 */
@media screen and (max-width:768px) {
    header .logo a {
        width: 64px;
        height: 21px;
        margin-bottom: 9px;
    }
    header .gnb .gnb_open {
        background-size: 17px;
    }
    header .gnb .gnb_wrap .gnb_logo {
        width: 64px;
        height: calc(var(--header-h) - 6px );
    }
    header .gnb .gnb_wrap ul.depth1 > li > a {
        font-size: 1.8rem;
    }
    header .gnb .gnb_wrap .gnb_close {
        background-size: 17px;
    }
}/* @media */

/* 서브에서 이미 선택 되어있는 메뉴 디자인 */
header .gnb .gnb_wrap ul.depth1 > li:has(.active) > ul.depth2 > li.active > a {
    font-weight: 700;
}
header .gnb .gnb_wrap ul.depth1 > li:has(.active) > ul.depth2 > li.active > a > span {
    position: relative;
}
header .gnb .gnb_wrap ul.depth1 > li:has(.active) > ul.depth2 > li.active > a > span::before {
    content: "";
    position: absolute;
    left: -4px;
    top: 0;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: var(--color-tit);
}

@media screen and (min-width:1025px) {
    header .gnb .gnb_wrap ul.depth1 > li:has(.active) > a::before {
        content: "";
        position: absolute;
        left: 50%;
        top: calc(var(--header-h) - 5px);
        transform: translateX(-50%);
        width: 50%;
        height: 5px;
        background-color: var(--color-white);
    }
    header.fixed .gnb .gnb_wrap ul.depth1 > li:has(.active) > a,
    header.menu_pc .gnb .gnb_wrap ul.depth1 > li:has(.active) > a {
        color: var(--color-point);
    }
    header.fixed .gnb .gnb_wrap ul.depth1 > li:has(.active) > a::before,
    header.menu_pc .gnb .gnb_wrap ul.depth1 > li:has(.active) > a::before {
        background-color: var(--color-point);
    }
    header .gnb .gnb_wrap ul.depth1 > li:has(.active) > ul.depth2 > li.active > a {
        color: var(--color-tit);
    }
}
@media screen and (max-width:1024px) {
    header .gnb .gnb_wrap ul.depth1 > li:has(.active) > a {
        background-color: var(--color-point);
        color: var(--color-white);
    }
    header .gnb .gnb_wrap ul.depth1 > li:has(.active) > a::before {
        transform: rotate(0);
    }
    header .gnb .gnb_wrap ul.depth1 > li:has(.active) > ul.depth2 {
        display: block;
    }
    header .gnb .gnb_wrap ul.depth1 > li:has(.active) > ul.depth2 > li.active > a > span::before {
        top: 1px;
        background-color: var(--color-white);
    }
}



footer {
    background-color: var(--color-black);
    color: var(--color-white80);
    padding: 62px 0 81px 0;
}
footer .wrapper {
    display: flex; /* f_logo - f_util 좌우정렬 */
    gap: 0 61px;
    position: relative; /* f_util 정렬의 기준 */
}
footer .f_logo {
    width: 139px;
    height: 46px;
    background: url(../images/common/logo_w.svg) no-repeat center center / contain;
}
footer .f_util {
    position: absolute; /* wrapper 기준 정렬 */
    right: 0;
    top: 0;
    display: flex; /* family_site - top */
    gap: 0 16px;
}
footer .f_util .family_site {
    width: 195px;
    /* 관련사이트는 여는 버튼, 바로가기 사이트 등의 넓이가 같음
        그래서 감싸고 있는 family_site에 넓이를 주고 내부요소는 그에 100% 꽉 차게 줌 */
    position: relative; /* family_wrap 정렬 기준 */
}
footer .f_util .family_site .family_open,
footer .f_util .family_site .family_close {
    display: block;
    width: 100%;
    height: 2.7059em;
    line-height: 2.7059em;
    text-align: left;
    padding-left: 1.3529em;
    border: 1px solid var(--color-white80);
    position: relative; /* 정렬 기준 */
}
footer .f_util .family_site .family_open::after,
footer .f_util .family_site .family_close::after {
    content: "";
    position: absolute;
    right: 1.4118em;
    top: 50%;
    transform: translateY(-50%);
    width: 0.5882em;
    height: 0.2941em;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 10 5' fill='white' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5 5L0 0H10L5 5Z' fill-opacity='0.7'/%3E%3C/svg%3E%0A");
}
footer .f_util .family_site .family_wrap {
    display: none;
    position: absolute;
    left: 0;
    bottom: calc(2.7059em - 1px);
    width: 100%;
    background-color: var(--color-black);
    border: 1px solid var(--color-white80);
    padding: 0.7059em 1.3529em 1.0588em 1.3529em;
}
footer .f_util .family_site .family_wrap ul li a {
    font-size: 1.6rem;
    display: block;
    padding: 0.2353em 0;
}
footer .f_util .family_site .family_wrap ul li a span {
    position: relative; /* after 정렬 기준 */
}
footer .f_util .family_site .family_wrap ul li a span::after {
    content: "";
    position: absolute;
    right: -19px;
    top: 4px;
    width: 12px;
    height: 12px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 13 13' fill='white' fill-opacity='0.7' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.35581 12.75C0.976937 12.75 0.65625 12.6188 0.39375 12.3563C0.13125 12.0938 0 11.7731 0 11.3942V1.35581C0 0.976937 0.13125 0.65625 0.39375 0.39375C0.65625 0.13125 0.976937 0 1.35581 0H6.08644V1.125H1.35581C1.29806 1.125 1.24519 1.14906 1.19719 1.19719C1.14906 1.24519 1.125 1.29806 1.125 1.35581V11.3942C1.125 11.4519 1.14906 11.5048 1.19719 11.5528C1.24519 11.6009 1.29806 11.625 1.35581 11.625H11.3942C11.4519 11.625 11.5048 11.6009 11.5528 11.5528C11.6009 11.5048 11.625 11.4519 11.625 11.3942V6.66356H12.75V11.3942C12.75 11.7731 12.6188 12.0938 12.3563 12.3563C12.0938 12.6188 11.7731 12.75 11.3942 12.75H1.35581ZM4.66444 8.87588L3.87413 8.08556L10.8347 1.125H7.875V0H12.75V4.875H11.625V1.91531L4.66444 8.87588Z' /%3E%3C/svg%3E%0A");
}
footer .f_util .family_site .family_close {
    display: none;
}


/* 열렸을 때 */
footer .f_util .family_site.open .family_open {
    display: none;
}
footer .f_util .family_site.open .family_close {
    display: block;
}
footer .f_util .family_site.open .family_close::after {
    animation: family_btn 0.5s 1 forwards;
}
@keyframes family_btn {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(180deg); }
}

footer .f_util .top {
    width: 46px;
    height: 46px;
    line-height: 46px;
    background-color: var(--color-point);
    position: relative;
}
footer .f_util .top::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 16px;
    height: 16px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 16' fill='white' fill-opacity='0.9' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 16V3.825L1.4 9.425L0 8L8 0L16 8L14.6 9.425L9 3.825V16H7Z' /%3E%3C/svg%3E%0A");
}
footer .inner {
    margin: 24px 0 0 0;
}
footer .inner .f_nav ul {
    display: flex;
    flex-wrap: wrap;
    gap: 0 3.0588em;
}
footer .inner .f_info {
    margin: 56px 0 6px 0;
}
footer .inner .copyright {
    color: var(--color-white60);
}

@media screen and (max-width:1280px) {
    footer .wrapper {
        gap: 0 24px;
    }
    footer .inner .f_nav ul {
        display: flex;
        flex-wrap: wrap;
        gap: 0 1.8em;
    }
}

@media screen and (max-width:1024px) {
    footer .wrapper {
        flex-direction: column;
    }
}
@media screen and (max-width:768px) {
    footer {
        padding: 45px 0 58px 0;
    }
    footer .wrapper {
        display: block; /* f_logo - f_util 좌우정렬 */
    }
    footer .f_logo {
        width: 84px;
        height: 28px;
    }
    footer .f_util {
        position: relative; /* wrapper 기준 정렬 */
        right: auto;
        top: auto;
        margin: 38px 0 40px 0;
    }
    footer .f_util .family_site {
        width: calc(100% - 111px);
        max-width: 480px;
        /* 관련사이트는 여는 버튼, 바로가기 사이트 등의 넓이가 같음
            그래서 감싸고 있는 family_site에 넓이를 주고 내부요소는 그에 100% 꽉 차게 줌 */
        position: relative; /* family_wrap 정렬 기준 */
    }
    footer .f_util .family_site .family_wrap {
        bottom: calc(2.7059em + 2px);
    }
    footer .inner {
        margin: 0;
    }
    footer .inner .f_nav ul {
        gap: 0 1.8em;
    }
    footer .inner .f_info {
        margin: 37px 0 4px 0;
    }
}