/*
    - 파일명 : sub.css
    - 작성자 : 김지선
    - 작성일 : 25-10-23
    - 설명 : 메인을 제외한 모든 페이지에서 호출되는 css파일
            서브에 필요한 css를 import하는 역할과
            서브의 레이아웃을 퍼블리싱함 (서브의 공통스타일)
*/
@import url(common.css);
@import url(default.css);
@import url(fonts.css);
@import url(layout.css);
@import url(contents.css);

.sub_visual {
    height: 344px;
    background: url(../images/sub/sub_visual01.jpg) no-repeat center center / cover;
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.sub_visual .breadcrumb ol {
    display: flex;
    gap: 0 2.1765em;
    justify-content: center;
    align-items: center;
}
.sub_visual .breadcrumb ol li {
    position: relative; /* after 정렬 기준 */
    height: 1.5em;
}
.sub_visual .breadcrumb ol li::after {
    content: "";
    position: absolute;
    right: -1.2941em;
    top: 0.4706em;
    width: 0.3529em;
    height: 0.5882em;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 6 10' fill='white' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.64167 4.75L0 1.10833L1.10833 0L5.85833 4.75L1.10833 9.5L0 8.39167L3.64167 4.75Z' /%3E%3C/svg%3E%0A");
}
.sub_visual .breadcrumb ol li:last-child::after {
    display: none;
}
.sub_visual .breadcrumb ol li.home a {
    margin-top: 0.3529em;
    display: block;
    width: 1em;
    height: 0.7647em;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 18 14' fill='white' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.16667 13.4583V6.21458L0.95 7.91667L0 6.65L8.70833 0L11.875 2.41458V0.791667H14.25V4.23542L17.4167 6.65L16.4667 7.91667L14.25 6.21458V13.4583H10.2917V8.70833H7.125V13.4583H3.16667ZM7.125 5.56146H10.2917C10.2917 5.13924 10.1333 4.79288 9.81667 4.5224C9.5 4.25191 9.13056 4.11667 8.70833 4.11667C8.28611 4.11667 7.91667 4.25191 7.6 4.5224C7.28333 4.79288 7.125 5.13924 7.125 5.56146Z' /%3E%3C/svg%3E%0A");
}
.sub_tit {
    margin: 10px 0 69px 0;
    font-size: 5rem;
    font-weight: 700;
    line-height: 1.3;
    text-align: center;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
}
.snb {
    height: 72px;
    background-color: var(--color-point);
    color: var(--color-white);
}
.snb ul {
    display: flex;
    justify-content: center;
}
.snb ul li a {
    display: block;
    line-height: 72px;
    padding: 0 38px;
}
.snb ul li.active a {
    font-weight: 700;
}
.snb ul li a span {
    position: relative; /* before 정렬 기준 */
}
.snb ul li.active a span::before {
    content: "";
    position: absolute;
    left: -7px;
    top: 2px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: var(--color-white);
}

.contents {
    min-height: 300px;
}
.contents .page_tit {
    margin: 96px 0 0 0;
}
.contents .page_tit h2 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.3;
    color: var(--color-tit);
}
@media screen and (max-width:1024px){
    .snb ul li a {
        padding: 0 28px;
    }
}
@media screen and (max-width:768px){
    .sub_visual {
        height: 227px;
    }
    .sub_visual .breadcrumb ol {
        gap: 0 2.1765em;
        justify-content: center;
        align-items: center;
        font-size: 1.4rem;
    }
    .sub_tit {
        margin: 8px 0 65px 0;
        font-size: 2.8rem;
    }
    .snb {
        height: 58px;
    }
    .snb ul li a {
        line-height: 58px;
        padding: 0 18px;
    }
    .snb ul li:first-child a {
        margin-left: 9px;
    }
    .contents {
        min-height: 300px;
    }
    .contents .page_tit {
        margin: 96px 0 0 0;
    }
    .contents .page_tit h2 {
        font-size: 4rem;
        font-weight: 700;
        line-height: 1.3;
        color: var(--color-tit);
    }
}
@media screen and (max-width:600px){
    .snb ul {
        justify-content: flex-start;
        overflow-y: hidden;/* 위아래 스크롤 바는 숨김 */
        overflow-x: auto; /* 좌우 스크롤바 생성 */
        -ms-overflow-style: none;  /* IE, Edge */
        scrollbar-width: none;  /* Firefox */
    }
    
}