header {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: var(--header-h);
    color: var(--color-white);

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--wrapper-margin);
}
header .logo a {
    display: block;
    width: 202px;
    height: 42.58px;
    background: url(../images/common/logo.svg) no-repeat center center / contain;
}
header .util {
    display: flex;
    gap: 0 13px;
}
header .util .search .sh_open {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--color-point03);
    position: relative;
}
header .util .search .sh_open::before {
    content: "";
    position: absolute;
    left: 12px;
    top: 12px;
    width: 16px;
    height: 16px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 16px;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 16' fill='%23111111' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.60565 11.2113C4.04028 11.2113 2.71463 10.6684 1.62869 9.5826C0.542896 8.49666 0 7.17101 0 5.60565C0 4.04028 0.542896 2.71463 1.62869 1.62869C2.71463 0.542896 4.04028 0 5.60565 0C7.17101 0 8.49666 0.542896 9.5826 1.62869C10.6684 2.71463 11.2113 4.04028 11.2113 5.60565C11.2113 6.2603 11.1014 6.88554 10.8817 7.48137C10.6619 8.07721 10.3686 8.59543 10.002 9.03604L15.2765 14.3105C15.4034 14.4373 15.4684 14.5968 15.4713 14.789C15.4742 14.9812 15.4092 15.1437 15.2765 15.2765C15.1437 15.4092 14.9827 15.4756 14.7934 15.4756C14.6043 15.4756 14.4433 15.4092 14.3105 15.2765L9.03604 10.002C8.57771 10.3804 8.05062 10.6766 7.45479 10.8905C6.85896 11.1043 6.24258 11.2113 5.60565 11.2113ZM5.60565 9.83652C6.78677 9.83652 7.78716 9.42662 8.60681 8.60681C9.42662 7.78716 9.83652 6.78677 9.83652 5.60565C9.83652 4.42452 9.42662 3.42413 8.60681 2.60448C7.78716 1.78467 6.78677 1.37477 5.60565 1.37477C4.42452 1.37477 3.42413 1.78467 2.60448 2.60448C1.78467 3.42413 1.37477 4.42452 1.37477 5.60565C1.37477 6.78677 1.78467 7.78716 2.60448 8.60681C3.42413 9.42662 4.42452 9.83652 5.60565 9.83652Z' /%3E%3C/svg%3E%0A");
}
header .util a {
    display: block;
    width: 96px;
    height: 40px;
    background-color: var(--color-white);
    border-radius: 30px;
    color: var(--color-basic);
    text-align: center;
    padding: 8px 0;
}
/* header가 fixed 되었을때 */
header.fixed {
    background-color: var(--color-tit);
}

/* pc 버전 메뉴 */
@media screen and (min-width:1025px) {
    header .gnb .gnb_open,
    header .gnb .gnb_wrap .gnb_logo,
    header .gnb .gnb_close {
        display: none;
    }
    header .gnb .gnb_wrap ul.depth1 {
        display: flex; /* li 좌우정렬 */

    }
    header .gnb .gnb_wrap ul.depth1 > li {
        position: relative; /* depth2의 기준 */
    }
    header .gnb .gnb_wrap ul.depth1 > li > a {
        display: block;
        font-size: 2rem;
        line-height: var(--header-h);
        padding: 0 1.55em;
        white-space: nowrap;
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 {
        position: absolute; /* li 기준 정렬 */
        left: 50%; /* li 넓이의 50% */
        transform: translateX(-50%); /* depth2 넓이의 50% */
        top: calc(var(--header-h) - 20px);
        background-color: var(--color-point01);
        border-radius: 20px;
        box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.2);
        min-width: 100%; /* li 넓이의 100% */
        padding: 22px 35px;
        color: var(--color-white);
        display: none;
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a {
        display: block;
        padding: 5px 0;
        white-space: nowrap; /* 줄바꿈 금지 */
        text-align: center;
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a:hover {
        font-weight: 700;
    }

    /* 메뉴에 오버했을때 */
    header.menu_pc {
        background-color: var(--color-tit);
        backdrop-filter: blur(10px);
    }
    header .gnb .gnb_wrap ul.depth1 > li.over > a {
        color: var(--color-point-pk);
    }
    header .gnb .gnb_wrap ul.depth1 > li.over > a > span {
        position: relative;
    }
    header .gnb .gnb_wrap ul.depth1 > li.over > a > span::before {
        content: "";
        position: absolute;
        left: -6px;
        top: 2px;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background-color: var(--color-point-pk);
    }
    header .gnb .gnb_wrap ul.depth1 > li.over > ul.depth2 {
        display: block;
    }

}

@media screen and (max-width:1024px) {
    header {
        padding-right: 0;
    }
    header .logo a {
        width: 150px;
    }   
    header .util {
        display: none;
    }
    header .gnb .gnb_open {
        display: block;
        width: var(--header-h);
        height: var(--header-h);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 22px;
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 22 15' fill='%23ffffff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.9375 14.0863C0.671875 14.0863 0.449271 13.9964 0.269688 13.8166C0.089896 13.637 0 13.4143 0 13.1484C0 12.8828 0.089896 12.6602 0.269688 12.4806C0.449271 12.3012 0.671875 12.2116 0.9375 12.2116H20.3125C20.5781 12.2116 20.8007 12.3014 20.9803 12.4809C21.1601 12.6607 21.25 12.8835 21.25 13.1494C21.25 13.415 21.1601 13.6376 20.9803 13.8172C20.8007 13.9966 20.5781 14.0863 20.3125 14.0863H0.9375ZM0.9375 7.98063C0.671875 7.98063 0.449271 7.89073 0.269688 7.71094C0.089896 7.53115 0 7.30844 0 7.04281C0 6.77698 0.089896 6.55437 0.269688 6.375C0.449271 6.19542 0.671875 6.10563 0.9375 6.10563H20.3125C20.5781 6.10563 20.8007 6.19552 20.9803 6.37531C21.1601 6.5551 21.25 6.77781 21.25 7.04344C21.25 7.30927 21.1601 7.53188 20.9803 7.71125C20.8007 7.89083 20.5781 7.98063 20.3125 7.98063H0.9375ZM0.9375 1.87469C0.671875 1.87469 0.449271 1.7849 0.269688 1.60531C0.089896 1.42552 0 1.20271 0 0.936874C0 0.671249 0.089896 0.448645 0.269688 0.269062C0.449271 0.089687 0.671875 0 0.9375 0H20.3125C20.5781 0 20.8007 0.089896 20.9803 0.269688C21.1601 0.449271 21.25 0.671979 21.25 0.937813C21.25 1.20344 21.1601 1.42604 20.9803 1.60563C20.8007 1.785 20.5781 1.87469 20.3125 1.87469H0.9375Z' /%3E%3C/svg%3E%0A");
    }
    header .gnb .gnb_wrap {
        position: absolute; /* header 기준 정렬 */
        right: -81%;
        top: 0;
        z-index: 10;
        height: 100dvh;
        background-color: var(--color-tit);
        color: var(--color-white);
        width: 70%;
        transition: 0.5s;
    }
    header.menu_mo .gnb .gnb_wrap{
        right: 0;
    }
    header .gnb .gnb_wrap .gnb_logo {
        position: absolute; /* gnb_wrap 기준 정렬 */
        left: var(--wrapper-margin);
        top: 0;
        width: 120px;
        height: var(--header-h);
        background: url(../images/common/logo.svg) no-repeat center center / contain;
    }
    header .gnb .gnb_wrap ul.depth1 {
        margin-top: var(--header-h);
        height: calc(100dvh - var(--header-h));
        overflow-y: auto;
        border-top: 1px solid var(--color-white20);
    }
    header .gnb .gnb_wrap ul.depth1 > li > a {
        display: block;
        padding: 18px 0 18px var(--wrapper-margin);
        font-size: 1.7rem;
        color: var(--color-white);
        position: relative; /* before/after 정렬 기준 */
    }
    header .gnb .gnb_wrap ul.depth1 > li > a::after {
        content: "";
        position: absolute;
        right: var(--wrapper-margin);
        top: 36%;
        width: 15px;
        height: 15px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 12px;
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 12 7' fill='%23ffffff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.56208 6.27214C5.43656 6.27214 5.31972 6.25208 5.21156 6.21198C5.1034 6.17188 5.00054 6.10313 4.90297 6.00573L0.22146 1.32422C0.0773628 1.17995 0.00357809 0.998612 0.000105868 0.780209C-0.00319274 0.56198 0.070592 0.377344 0.22146 0.226302C0.372502 0.0754341 0.555488 0 0.770418 0C0.985349 0 1.16833 0.0754341 1.31938 0.226302L5.56208 4.46927L9.80479 0.226302C9.94906 0.0822049 10.1304 0.0084202 10.3488 0.00494798C10.567 0.00164937 10.7517 0.0754341 10.9027 0.226302C11.0536 0.377344 11.129 0.56033 11.129 0.775261C11.129 0.990192 11.0536 1.17318 10.9027 1.32422L6.2212 6.00573C6.12363 6.10313 6.02077 6.17188 5.91261 6.21198C5.80445 6.25208 5.68761 6.27214 5.56208 6.27214Z' /%3E%3C/svg%3E%0A");
    }
    header .gnb .gnb_wrap ul.depth1 > li.open > a::after {
        transform: rotate(180deg);
        transition: transform 0.5s;
    }
    /* open 클래스 */
    header .gnb .gnb_wrap ul.depth1 > li.open > a { 
        background-color: var(--color-point01);
    } 
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 {
        padding: 12px 0 12px 0;
        display: none;
        border-bottom: 1px solid var(--color-white20);
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a {
        display: block;
        padding: 6px 0 6px calc(var(--wrapper-margin) * 2);
    }
    header .gnb .gnb_wrap .gnb_close {
        position: absolute;
        right: 0;
        top: 0;
        width: var(--header-h);
        height: var(--header-h);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 16px;
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 16' fill='%23ffffff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.93031 9.2475L1.58906 15.5891C1.41594 15.762 1.19833 15.8505 0.93625 15.8547C0.674375 15.8586 0.452813 15.7701 0.271563 15.5891C0.0905209 15.4078 0 15.1882 0 14.9303C0 14.6724 0.0905209 14.4528 0.271563 14.2716L6.61313 7.93031L0.271563 1.58906C0.0986459 1.41594 0.0101042 1.19833 0.00593758 0.936251C0.00197924 0.674376 0.0905209 0.452813 0.271563 0.271563C0.452813 0.0905209 0.672396 0 0.930313 0C1.18823 0 1.40781 0.0905209 1.58906 0.271563L7.93031 6.61313L14.2716 0.271563C14.4447 0.0986459 14.6623 0.0101042 14.9244 0.00593758C15.1863 0.00197924 15.4078 0.0905209 15.5891 0.271563C15.7701 0.452813 15.8606 0.672396 15.8606 0.930313C15.8606 1.18823 15.7701 1.40781 15.5891 1.58906L9.2475 7.93031L15.5891 14.2716C15.762 14.4447 15.8505 14.6623 15.8547 14.9244C15.8586 15.1863 15.7701 15.4078 15.5891 15.5891C15.4078 15.7701 15.1882 15.8606 14.9303 15.8606C14.6724 15.8606 14.4528 15.7701 14.2716 15.5891L7.93031 9.2475Z' /%3E%3C/svg%3E%0A");
    }
    
    header .gnb .gnb_bg {
        position: absolute; /* header 기준 정렬 */
        right: -101%;
        top: 0;
        width: 100%;
        height: 100dvh;
        background-color: var(--color-black80);
        backdrop-filter: blur(10px);
        opacity: 0;
        transition: right 0s, opacity 0.5s;
    }
    header.menu_mo .gnb .gnb_bg {
        opacity: 1;
        right: 0;
    }
}