@import url(common.css);
@import url(default.css);
@import url(fonts.css);
@import url(layout.css);

h2, h3, h4, h5 {
    line-height: 1.3;
}

.visual {
    position: relative;
}
.visual .swiper-slide {
    height: 100dvh;
    min-height: 500px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--color-white);
    text-align: left;
    display: flex;
    align-items: flex-end;
    background-color: #000;
}
.visual .swiper-slide.popup1 {
    background-image: url(../images/main/visual01.jpg);
}
.visual .swiper-slide.popup2 {
    background-image: url(../images/main/visual02.jpg);
}
.visual .swiper-slide.popup3 {
    background-image: url(../images/main/visual03.jpg);
}
.visual .swiper-slide h3 {
    font-size: 6rem;
    margin: 0 0 calc(15dvh + 50px) 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);

    transition: 0.8s;
    opacity: 0;
}
.visual .swiper-slide.swiper-slide-active h3 {
    transform: translate(0, 0);
    opacity: 1;
}
.visual .ctrl_btn {
    position: absolute;
    left: calc(50% - 660px);
    bottom: 0;
    z-index: 10;
    margin-bottom: 96px;

}
.visual .ctrl_btn .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.visual .ctrl_btn .paging .bar {
    width: 1260px;
    height: 3px;
    background-color: var(--color-white50);
    position: relative;
}
.visual .ctrl_btn .paging .bar span {
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
    background-color: var(--color-white);
}
.visual .ctrl_btn button {
    width: 28px;
    height: 28px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 28px;
}
.visual .ctrl_btn button.stop {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 28 28' fill='%23ffffff' fill-opacity='0.8' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.1624 19.3229C11.4723 19.3229 11.732 19.218 11.9416 19.0083C12.1508 18.7988 12.2555 18.5391 12.2555 18.2292V9.47917C12.2555 9.16927 12.1506 8.90957 11.9408 8.70005C11.7313 8.4903 11.4715 8.38542 11.1614 8.38542C10.8515 8.38542 10.5918 8.4903 10.3822 8.70005C10.173 8.90957 10.0683 9.16927 10.0683 9.47917V18.2292C10.0683 18.5391 10.1731 18.7988 10.3826 19.0083C10.5924 19.218 10.8523 19.3229 11.1624 19.3229ZM16.547 19.3229C16.8569 19.3229 17.1166 19.218 17.3261 19.0083C17.5354 18.7988 17.64 18.5391 17.64 18.2292V9.47917C17.64 9.16927 17.5352 8.90957 17.3257 8.70005C17.116 8.4903 16.856 8.38542 16.5459 8.38542C16.236 8.38542 15.9763 8.4903 15.7668 8.70005C15.5575 8.90957 15.4529 9.16927 15.4529 9.47917V18.2292C15.4529 18.5391 15.5577 18.7988 15.7675 19.0083C15.977 19.218 16.2368 19.3229 16.547 19.3229ZM13.8567 27.7083C11.9405 27.7083 10.1393 27.3447 8.45323 26.6175C6.76715 25.8903 5.30055 24.9033 4.05344 23.6567C2.80632 22.4101 1.81891 20.9441 1.0912 19.2587C0.363732 17.5734 0 15.7727 0 13.8567C0 11.9405 0.363611 10.1393 1.09083 8.45323C1.81806 6.76715 2.80498 5.30055 4.05161 4.05344C5.29825 2.80632 6.76424 1.81891 8.44958 1.0912C10.1349 0.363732 11.9356 0 13.8516 0C15.7679 0 17.569 0.363611 19.2551 1.09083C20.9412 1.81805 22.4078 2.80498 23.6549 4.05161C24.902 5.29825 25.8894 6.76424 26.6171 8.44958C27.3446 10.1349 27.7083 11.9356 27.7083 13.8516C27.7083 15.7679 27.3447 17.569 26.6175 19.2551C25.8903 20.9412 24.9033 22.4078 23.6567 23.6549C22.4101 24.902 20.9441 25.8894 19.2587 26.6171C17.5734 27.3446 15.7727 27.7083 13.8567 27.7083ZM13.8542 25.5208C17.1111 25.5208 19.8698 24.3906 22.1302 22.1302C24.3906 19.8698 25.5208 17.1111 25.5208 13.8542C25.5208 10.5972 24.3906 7.83854 22.1302 5.57812C19.8698 3.31771 17.1111 2.1875 13.8542 2.1875C10.5972 2.1875 7.83854 3.31771 5.57812 5.57812C3.31771 7.83854 2.1875 10.5972 2.1875 13.8542C2.1875 17.1111 3.31771 19.8698 5.57812 22.1302C7.83854 24.3906 10.5972 25.5208 13.8542 25.5208Z' /%3E%3C/svg%3E%0A");
}
.visual .ctrl_btn button.play {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 28 28' fill='%23ffffff' fill-opacity='0.8' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.0958 18.7618L18.4479 14.6814C18.76 14.4833 18.916 14.2081 18.916 13.8556C18.916 13.5032 18.76 13.227 18.4479 13.0269L12.0958 8.94651C11.7686 8.72217 11.433 8.70418 11.0888 8.89255C10.7449 9.08092 10.5729 9.37465 10.5729 9.77375V17.9346C10.5729 18.3337 10.7449 18.6274 11.0888 18.8158C11.433 19.0041 11.7686 18.9862 12.0958 18.7618ZM13.8567 27.7083C11.9405 27.7083 10.1393 27.3447 8.45323 26.6175C6.76715 25.8903 5.30055 24.9033 4.05344 23.6567C2.80632 22.4101 1.81891 20.9441 1.0912 19.2587C0.363732 17.5734 0 15.7727 0 13.8567C0 11.9405 0.363611 10.1393 1.09083 8.45323C1.81806 6.76715 2.80498 5.30055 4.05161 4.05344C5.29825 2.80632 6.76424 1.81891 8.44958 1.0912C10.1349 0.363732 11.9356 0 13.8516 0C15.7679 0 17.569 0.363611 19.2551 1.09083C20.9412 1.81805 22.4078 2.80498 23.6549 4.05161C24.902 5.29825 25.8894 6.76424 26.6171 8.44958C27.3446 10.1349 27.7083 11.9356 27.7083 13.8516C27.7083 15.7679 27.3447 17.569 26.6175 19.2551C25.8903 20.9412 24.9033 22.4078 23.6567 23.6549C22.4101 24.902 20.9441 25.8894 19.2587 26.6171C17.5734 27.3446 15.7727 27.7083 13.8567 27.7083ZM13.8542 25.5208C17.1111 25.5208 19.8698 24.3906 22.1302 22.1302C24.3906 19.8698 25.5208 17.1111 25.5208 13.8542C25.5208 10.5972 24.3906 7.83854 22.1302 5.57812C19.8698 3.31771 17.1111 2.1875 13.8542 2.1875C10.5972 2.1875 7.83854 3.31771 5.57812 5.57812C3.31771 7.83854 2.1875 10.5972 2.1875 13.8542C2.1875 17.1111 3.31771 19.8698 5.57812 22.1302C7.83854 24.3906 10.5972 25.5208 13.8542 25.5208Z' /%3E%3C/svg%3E%0A");
    display: none;
} 