@import url(common.css);
@import url(default.css);
@import url(fonts.css);
@import url(layout.css);

h2, h3, h4, h5 {
    line-height: 1.3;
}

.visual {
    position: relative;
}
.visual .swiper-slide {
    height: 100dvh;
    min-height: 500px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--color-white);
    text-align: left;
    display: flex;
    align-items: flex-end;
    background-color: #000;
}
.visual .swiper-slide.popup1 {
    background-image: url(../images/visual01.jpg);
}
.visual .swiper-slide.popup2 {
    background-image: url(../images/visual02.jpg);
}
.visual .swiper-slide.popup3 {
    background-image: url(../images/visual03.jpg);
}
.visual .swiper-slide h3 {
    font-size: 6rem;
    margin: 0 0 138px 0;
}