/* 모든페이지에서 중복되는 스타일 */
/* css와 html은 큰따옴표, js와 개발자는 작은따옴표 */
body {
    font-family: "Pretendard", "Malgun Gothic", "맑은 고딕", Dotum, "돋움", Helvetica, AppleSDGothicNeo, sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 1.5;
    color: #2d2d2d;
    word-break: keep-all; /* 단어별로 줄바꿈 */
    word-wrap: break-word; /* 단어가 너무 길때 강제로 줄 바꿈 */
}
.wrapper {
    width: 1260px;
    margin: 0 auto; /* 가운데정렬 */
}
#wrap {
    min-width: 1320px; /* 1260 + 30(여백) + 30(여백) = 1320 */
    position: relative; /* header 정렬 기준 */
}
/* html 문서 구조상 글자를 써야하는데 
   그 글자를 안보이게 하고 싶을 때 blind 클래스를 주면 사라짐 */
.blind {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}

@media screen and (max-width:768px) {
    body {
        font-size: 16px;
    }
    .wrapper {
        width: auto; /* block 요소이기 때문에 꽉차게 나옴 */
        margin: 0 16px;
    }
    #wrap {
        min-width: 0; /* 최소 넓이 없음 */
    }
}/* @media */